{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Boutique Symfony</h1>
    <a class="btn btn-info" href="{{ path('panier') }}">Voir le panier</a>
    <div class="row">
        {% for produit in produits %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ produit.nom }}</h5>
                    <p class="card-text">Prix : {{ produit.prix }}€</p>
                    <a class="btn btn-info" href="{{ path('ajouter_panier', {'id': produit.id}) }}">Ajouter au panier</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
